doctype 5
html
	head

		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src='/socket.io/socket.io.js')

		script(src='../common/js/lib/zepto.js')

		script(src='../common/js/lib/paper.js')
		script(src='../common/js/canvas.js', type="text/paperscript", canvas="myCanvas")

	body!= body

	